.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

li {
    list-style-type: none!important;
}

.page {
    overflow-x: hidden;
}

#cover {
    width: 100%;
    height: 74vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 33%, rgba(187,221,254,1) 100%);
    background-size: cover;
    position: relative;
    min-height: 790px;
    overflow: hidden;
}

.container {
    padding: 0px!important;
}

.topbar {
    background-color: #000;
    padding: 20px 0px;
    border-bottom: 2px solid #2d3741;
}

.topbar .container {
    display: flex!important;
    margin: auto auto;
    position: relative;
    min-height: 90px;
}

.topbar-container-item {
    width: 10%;
    display: flex;
    min-width: 130px;
}

.navbar-brand {
    width: 110px;
    height: 84px;
    cursor: pointer;
    display: block;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
}

.topbar-main {
    display: flex;
}

.topbar-main .nav-item {
    display: flex!important;
}

.topbar-main .nav-item .nav-link {
    text-align: center;
}

.topbar-item {
    width: 33%;
    display: flex;
    margin: auto auto;
}

.topbar-mid-item {
    min-width: 608px;
    width: 78%;
}

.topbar-last-item {
    width: 10%;
    min-width: 90px;
}

.nav-item, .nav-item a {
    width: 100%;
}

.nav-item a {
    font-size: 1.125rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.topbar-social  {
    width: 100%;
    height: 100%;
}

.navbar-media {
    width: 40px;
    height: 40px;
    float: right;
}

.nav-item-media {
    width: 25px;
    height: 25px;
    float: right;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: #000;
    z-index: 9999;
    padding: 0px!important;
    align-items: self-start!important;
}

#navbarTogglerDemo02 {
    background-color: #000;
}

.navbar-toggler-icon {
    background-image: url(../images/menu.svg) !important;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav .nav-item {
    cursor: pointer;
    width: 25%;
}

li:hover {
    border-top: 5px solid #3C7DC1;
}

.dropdown-menu {
    background-color: #000!important;
    width: 100%;
}

.dropdown-menu .nav-item {
    width: 100%;
}

.dropdown-menu .nav-item:hover {
    border-top: none;
    background-color: #3C7DC1;
}

#donation {
    height: 55px;
    background-color: #BBDEFE;
    border: none;
    text-align: center;
    color: #010B16;
    margin-top: 10px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
}

#donation:hover {
    background-color: #3C7DC1;
    color: #BBDEFE;
}

.btn-donation-top:hover, .topbar-social li:hover {
    border-top: none!important;
}

.dropdown-toggle:hover, .dropdown-toggle {
    color: #fff!important;
}

.topbar-mark {
    background-color: #3C7DC1!important;
    color: #000!important;
}

.navbar-media {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 24px;
    height: 24px;
    max-width: 24px;
}

.nav-item:nth-of-type(9) .icon-line {
    margin-left: 15px;
}

.icon-line {
    margin-top: 16px;
}

#instagram {
    background-image: url(../images/instagram.png);
}

#tiktok {
    background-image: url(../images/tiktok.png);
}

.navbar-toggler {
    margin: auto auto auto 20px;
}

.topbar-mobile {
    display: none!important;
}

.cover-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url(../images/logo.png);
    width: 315px;
    height: 220px;
    margin: 0px auto;
}

.cover-info {
    width: 100%;
    margin: 20px auto;
}

.cover-text {
    font-size: 50px;
    text-align: center;
    color: #BBDEFE;
}

.cover-text span {
    color: #3C7DC1;
}

.foto-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-image: url(../images/foto-cover.png);
    width: 100%;
    height: 625px;
    bottom: 0px;
}

#frase {
    width: 100%;
}

#frase .inner {
    margin: 60px auto;
}

.frase-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url(../images/frase.png);
    width: 600px;
    height: 400px;
    margin: 0px auto;
}

.square {
    width: 100%;
    background: rgb(60,125,193);
    background: linear-gradient(180deg, rgba(60,125,193,1) 50%, rgba(1,11,22,1) 100%);
    color: #fff;
    font-size: 35px;
    text-align: center;
    line-height: 30px;
    margin: auto;
    padding: 80px 20px;
}

.square .container {
    width: 600px;
}

.square .container span {
    font-size: 25px;
}

#data {
    width: 100%;
    background-color: #3C7DC1;
    z-index: 9;
    overflow: auto;
    padding-bottom: 60px;
}

.inner-data {
    width: 49%;
    float: left;
    overflow: auto;
}

.inner-content {
    width: 95%;
    margin: 150px auto 0px auto;
    overflow: auto;
}

.title-data {
    width: 95%;
    color: #fff;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    margin: auto;
}

.trophy-content {
    width: 95%;
    margin: 50px auto 0px auto;
    overflow: auto;
}

.trophy {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url(../images/trophy.png);
    width: 270px;
    height: 365px;
    float: left;
}

.trophy-txt {
    font-size: 35px;
    color: #000;
    overflow: auto;
    margin-top: 50px;
}

.trophy-txt .span {
    color: #fff;
    line-height: 35px;
    width: 150px;
}

.data-txt {
    width: 90%;
}

.span, .data-txt {
    float: left;
    margin: 15px auto 15px 10px;
}

.most-title {
    width: 95%;
    margin: 70px auto 100px auto;
    color: #000;
    font-size: 35px;
    text-align: center;
    line-height: 40px;
}

.most-txt {
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    width: 57%;
    margin: auto;
}

.most-txt span {
    color: #BBDEFE;
}

#tournament-section {
    width: 100%;
    overflow: hidden;
}

.ball {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url(../images/balon.png);
    width: 875px;
    height: 822px;
    z-index: 1;
}

.inner-tournament {
    width: 48%;
    z-index: 9;
    position: relative;
    float: left;
}

.title-tournament {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url(../images/tournament.png);
    width: 95%;
    height: 60px;
    margin: 60px auto 40px 60px;
}

.txt-tournament {
    width: 95%;
    font-size: 30px;
    line-height: 35px;
    margin: 60px auto 40px 60px;
}

.quest-bullets {
    color: #000;
    font-size: 40px;
    margin-left: 60px;
}

.bullets {
    width: 95%;
    height: 221px;
    margin: 30px 0px 0px 20px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url(../images/bullets.png);
}

.players-tournament {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url(../images/group.png);
    width: 50%;
    height: 815px;
    float: left;
    z-index: 999;
}

#location {
    background-color: #BBDEFE80;
    width: 100%;
}

#location .container {
    position: relative;
    top: -50px;
    z-index: 999999;
}

.item-location {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 94%;
    position: relative;
    height: 705px;
}

#item-location {
    background-image: url(../images/location_2.png);
}

#item-format {
    background-image: url(../images/format_1.png);
}

#item-teams {
    background-image: url(../images/Teams.png);
}

#calendar {
    background-color: #BBDEFE80;
    width: 100%;
    padding-bottom: 90px;
}

.title-calendar {
    font-size: 60px;
    color: #000;
    text-align: center;
    margin-bottom: 50px;
}

.item-calendar {
    height: 323px;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}

.btn-calendar {
    width: 95%;
    height: 57px;
    padding: 10px 0px;
    margin: 0px auto;
    background-color: #3C7DC1;
    color: #f4f4f3;
    text-align: center;
    font-size: 25px;
    border-radius: 13px;
}

.calendar-day {
    position: relative;
}

.calendar-day span {
    font-size: 15px;
    top: 3px;
    position: absolute;
}

.item-calendar-img {
    width: 112px;
    height: 125px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px auto;
}

#arrive {
    background-image: url(../images/arrive.png);
}
#museum {
    background-image: url(../images/museum.png);
}
.court {
    background-image: url(../images/court.png);
}
#trophy {
    background-image: url(../images/trophy-1.png);
    background-size: auto;
}
#dep {
    background-image: url(../images/dep.png);
}

.calendar-desc {
    font-size: 25px;
    text-align: center;
    color: #003079;
    position: relative;
    top: 0px;
}

.calendar-desc div {
    font-size: 18px;
    line-height: 22px;
}

#format {
    background-color: #BBDEFE;
    width: 100%;
    padding: 50px 0px;
}

.title-format {
    color: #010B16;
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.format-item {
    height: 750px;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
}

#expedition {
    background-image: url(../images/expedition.png);
}

#modality {
    background-image: url(../images/modality.png);
}

#session {
    background-color: #fff;
    width: 100%;
    height: auto;
    min-height: 81vh;
    padding: 80px 0px 20px;
    overflow: auto;
    position: relative;
}

.session-title {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: 90%;
    width: 100%;
    height: 65px;
    margin: 0px auto 50px auto;
    background-image: url(../images/session.png);
    max-width: 1000px;
}

#session-text {
    font-size: 25px;
    line-height: 30px;
    width: 680px;
    margin: 0px auto;
    text-align: justify;
}

#session-photo {
    width: 500px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    background-image: url(../images/session-photo.png);
    margin: 0px auto;
}

#stories-content {
    background: rgb(0,48,121);
    background: linear-gradient(180deg, rgba(0,48,121,1) 50%, rgba(1,11,22,1) 100%);
    width: 100%;
    padding: 80px 0px 50px;
    height: 83vh;
}

.stories-title {
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.stories-item {
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    background-size: 95% 100%;
    height: 416px;
}

#original {
    background-image: url(../images/original.jpg);
    margin-right: -5px;
}

#champions {
    background-image: url(../images/champions.jpg);
    margin-right: -5px;
}

#laliga {
    background-image: url(../images/laliga-1.png);
}

.sponsors-container {
    min-height: 84vh;
}

.sponsor-mid {
    width: 800px;
    overflow: auto;
    margin: auto;
}

.sponsors-txt {
    background-color: #BBDEFE;
    padding: 10px 0px 18px;
    z-index: 9999;
    overflow: auto;
    width: 100%;
}

.sponsors-txt .title-format {
    margin-bottom: 0px;
}

.sponsors-blue-txt {
    width: 69%;
    color: #3C7DC1;
    font-size: 25px;
    line-height: 30px;
    margin: 0px auto;
}

.download a {
    color: #3C7DC1;
}

.sponsors-img-container {
    width: 930px;
    margin: auto;
    padding: 30px 0px 0px;
}

.sponsors-container-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.sponsor-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 160px;
}

.sponsor-row .sponsor-img:nth-of-type(1) {
    background-image: url(../images/rice_2.png);
}

.sponsor-row .sponsor-img:nth-of-type(2) {
    background-image: url(../images/torras_2.png);
}

.sponsor-row .sponsor-img:nth-of-type(3) {
    background-image: url(../images/goya_2.png);
}

.sponsor-row .sponsor-img:nth-of-type(4) {
    background-image: url(../images/center_2.png);
}

.sponsor-row .sponsor-img:nth-of-type(5) {
    background-image: url(../images/tricon_2.png);
}

.sponsor-row .sponsor-img:nth-of-type(6) {
    background-image: url(../images/tom_rasy.png);
}

.sponsor-row .sponsor-img:nth-of-type(7) {
    background-image: url(../images/mision.png);
}

.sponsor-row .sponsor-img:nth-of-type(9) {
    background-image: url(../images/correa.png);
}

.sponsor-row .sponsor-img:nth-of-type(8) {
    background-image: url(../images/one_love.png);
    background-position: top;
    background-size: 29%;
}

.sponsor-row .sponsor-img:nth-of-type(10) {
    background-image: url(../images/altivia_2.png);
    background-size: 64%;
}

.sponsor-row .sponsor-img:nth-of-type(11) {
    background-image: url(../images/sicar_2.png);
}

.sponsor-row .sponsor-img:nth-of-type(12) {
    background-image: url(../images/tent_2.png);
}

.sponsor-row .sponsor-img:nth-of-type(13) {
    background-image: url(../images/rowl_2.png);
}

.sponsor-row .sponsor-img:nth-of-type(14) {
    background-image: url(../images/truckman_2.png);
}

.sponsor-row .sponsor-img:nth-of-type(15) {
    background-image: url(../images/chevron.png);
    background-size: 50%;
}

#gallery-section {
    background: #BBDEFE80;
    width: 100%;
    padding: 100px 50px;
    overflow: auto;
    min-height: 84vh;
}

.gallery-content {
    width: 90%;
    height: 70vh;
}

.gallery-item {
    width: 90%;
    height: 600px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
}

.mini {
    margin-top: 15px;
}

.mini .gallery-item {
    margin-right: 30px;
}

#contact-section {
    background: rgb(1,11,22);
    background: linear-gradient(180deg, rgba(1,11,22,1) 0%, rgba(1,47,118,1) 100%);
    width: 100%;
    height: 83vh;
    padding: 50px;
    overflow: auto;
    position: relative;
}

#contact-section .inner {
    width: 60%;
    height: 100%;
    margin: 0px auto;
    position: relative;
}

.inner-container {
    position: absolute;
    width: 100%;
    height: 430px;
    margin: auto;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.contacto-title {
    color: #fff;
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}

.content-form form {
    width: 100%;
    height: 100%;
}

.content-field {
    width: 575px;
    overflow: auto;
    margin: 0px auto;
}

.label {
    color: #fff;
    font-size: 20px;
    width: 121px;
    margin-bottom: 10px;
    float: right;
    text-align: right;
    margin-right: 10px;
}

.input, .input input {
    width: 440px;
    overflow: auto;
    float: right;
    background-color: #BBDEFE80;
    border: none;
}

textarea {
    width: 100%;
    float: left;
    height: 120px;
    background-color: #BBDEFE80;
    border: none;
    padding: 0px 5px;
}

.btn-content {
    width: 180px;
    height: 50px;
    position: relative;
    margin: 30px auto 0px;
}

.btn-send {
    background-color: #BBDEFE;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 50px;
    padding: 0px 10px;
    text-align: center;
    color: #010B16;
}

.donation-link {
    width: 275px;
    height: 80px;
    margin: 0px auto;
    font-size: 30px;
    color: #010B16;
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
}

.btn-donation {
    background-color: #BBDEFE;
    width: 275px;
    height: 80px;
    border: none;
    border-radius: 50px;
    padding: 0px 10px;
    text-align: center;
}

#volunteer {
    width: 100%;
    height: 1500px;
    background-image: url(../images/volunteer_desktop.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#volunteer .btn-send {
    position: absolute;
    bottom: 30px;
    left: 0px;
    right: 0px;
    margin: auto;
    padding-top: 4px;
}

#volunteer .btn-send a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    color: #3C7DC1;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 21px;
}

#footer {
    background: rgb(34,127,187);
    background: linear-gradient(180deg, rgba(34,127,187,1) 0%, rgba(1,11,22,1) 100%);
    width: 100%;
    overflow: auto;
    padding: 15px 30px;
}

#footer-txt {
    font-family: 'Roboto';
    color: #fff;
    font-size: 19px;
}

.footer-insta {
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    background-size: 100%;
    height: 20px;
    width: 20px;
    float: left;
    background-image: url(../images/insta-footer.png);
}

.footer-tiktok {
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    background-size: 85%;
    height: 20px;
    width: 20px;
    float: left;
    background-image: url(../images/tiktok-footer.png);
    margin-left: 10px;
}

.slick-prev:before, .slick-next:before {
    font-size: 70px!important;
}

.slick-next:before {
    content: '>'!important;
}

.slick-prev:before {
    content: '<'!important;
}

.slick-next {
    right: -30px!important;
}

.slick-prev {
    left: -50px!important;
}

@media screen and (max-width: 1400px) {
    #session-text, #session-photo {
        width: 48%;
    }

    #volunteer {
        height: 900px;
    }
}

@media screen and (max-width: 1380px) {
    .sponsors-txt .title-format {
        font-size: 50px;
    }

    .sponsors-blue-txt {
        font-size: 20px;
        line-height: 25px;
    }
}

@media screen and (max-width: 1250px) {
    .inner-tournament {
        width: 97%;
        float: none;
        margin: 0px auto;
    }

    .players-tournament {
        width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    #donation {
        line-height: 19px;
    }
}

@media screen and (max-width: 1130px) {
    .inner-data {
        width: 100%;
    }

    .data-txt {
        width: 78%;
    }

    .txt-tournament, .quest-bullets {
        margin: 30px auto;
        text-align: center;
    }
}

@media screen and (max-width: 1050px) {
    .foto-cover {
        height: 460px;
    }
}

@media screen and (max-width: 992px) {
    .topbar-first-item {
        display: none;
    }

    #calendar {
        padding-bottom: 160px;
    }

    .btn-calendar {
        height: 95px;
    }

    .item-location {
        height: 450px;
    }

    .sponsors-txt .title-format {
        font-size: 40px;
    }
}

@media screen and (max-width: 930px) {
    .topbar-last-item {
        display: none!important;
    }

    .topbar-container-item {
        width: 100%;
    }

    .navbar-brand {
        margin: auto!important;
        margin-bottom: 10px;
    }

    .sponsors-img-container {
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .sponsor-mid {
        width: 95%;
    }

    .frase-img {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .title-tournament {
        margin: 40px auto;
    }
}

@media screen and (max-width: 767px) {
    .cover-logo{
        height: 160px;
    }

    .sponsor-row .sponsor-img:nth-of-type(7) {
        background-position: center;
    }

    .topbar{
        border: none;
    }

    .navbar, .topbar .container {
        height: 70px;
        min-height: 70px!important;
    }

    li:hover {
        border-top: none;
    }

    .container-fluid {
        padding: 0px 0px!important;
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

    .dropdown .nav-link {
        margin: auto auto;
    }

    .container {
        width: 90%;
        margin: 0px auto;
    }

    .navbar .container {
        max-width: 100%;
        width: 100%;
        margin: 0px;
    }

    .navbar .container .container {
        max-width: 100%;
        width: 100%;
        margin: 0px;
        min-height: 50px;
    }

    .navbar-toggler-icon {
        width: 25px;
        height: 25px;
    }

    .navbar-nav {
        width: 100%;
    }

    .topbar-container-item {
        display: initial;
        margin-top: 30px;
    }

    .topbar-first-item {
        display: none;
    }

    .dropdown-toggle:hover {
        background-color: #3C7DC1;
    }

    .topbar-desktop {
        display: none!important;
    }

    .topbar-mobile {
        display: block!important;
    }

    #donation {
        line-height: 40px;
        width: 50%;
        height: 100%;
        border-radius: 15px;
        margin: 0px auto;
        font-size: 17px;
    }

    .topbar-mid-item {
        min-width: 300px;
    }

    #cover {
        height: 650px;
        min-height: 650px;
    }

    .foto-cover {
        height: 425px;
        bottom: -60px;
    }

    .square .container span {
        font-size: 20px;
        line-height: 25px;
    }

    .donation-link {
        bottom: 10px;
    }

    .item-location {
        height: 950px;
        background-size: 80%;
    }

    #session-text, #session-photo {
        width: 98%;
    }

    #item-format {
        top: 0px;
    }

    #calendar {
        padding-bottom: 20px;
    }

    .btn-calendar {
        height: 57px;
    }

    .item-calendar {
        height: 405px;
    }

    .short {
        height: 290px;
    }

    .most-txt {
        width: 90%;
    }

    #session .container .row {
        width: 100%!important;
        margin: auto!important;
    }

    #session-photo {
        background-position: bottom;
        height: 370px;
        background-size: 100% 80%;
    }

    #stories-content {
        min-height: 1480px;
        padding: 30px 0px 20px;
    }

    .stories-title {
        margin-bottom: 20px;
    }

    .stories-item {
        height: 450px;
    }

    #laliga {
        background-size: 98% 100%;
    }

    .sponsors-img-container {
        width: 100%;
    }

    .sponsors-container-title {
        font-size: 20px;
        line-height: 25px;
    }

    #contact-section .inner {
        width: 100%;
    }

    #contact-section {
        padding: 20px 15px;
    }

    .content-field {
        width: 100%;
    }

    .btn-send {
        margin-right: 0px;
    }

    .input {
        width: 75%;
    }

    #volunteer {
        height: 700px;
    }

    .footer-insta, .footer-tiktok {
        margin-top: 10px;
    }

    .footer-tiktok {
        float: right;
    }

    #footer-txt {
        text-align: center;
    }
}

@media (max-width: 645px){
    .trophy {
        width: 99%;
    }

    .trophy-txt {
        float: left;
    }

    .trophy-txt .span, .data-txt {
        width: 95%;
    }

    .data-txt, .span {
        text-align: center;
    }
}

@media (max-width: 620px) {
    .players-tournament {
        height: 460px;
    }
}


@media (max-width: 576px){
    .navbar .container .container{
        width:auto;
    }

    .label {
        float: left;
    }

    .input {
        width: 60%;
    }

    #session-photo {
        background-size: 320px 250px;
        height: 300px;
    }
}

@media (max-width: 500px) {
    #cover {
        height: 520px;
        min-height: 520px;
    }

    .cover-text {
        font-size: 35px;
    }

    .sponsors-blue-txt {
        width: 85%;
    }

    .foto-cover {
        height: 325px;
        bottom: -65px;
    }

    .square .container {
        width: 95%;
    }

    .square {
        font-size: 25px;
        line-height: 25px;
    }

    .square .container span {
        font-size: 17px;
        line-height: 16px;
    }

    #session {
        padding-top: 30px;
    }

    .item-location {
        height: 850px;
    }

    #footer-txt {
        font-size: 19px;
    }
}

@media (max-width: 450px) {
    #format {
        padding: 0px 0px;
    }

    .format-item {
        background-size: 85% 90%;
    }

    .item-location {
        height: 740px;
    }

    .input {
        width: 53%;
    }

    .stories-title {
        font-size: 37px;
    }

    .frase-img {
        height: 280px;
    }

    #frase .inner {
        margin: 50px auto;
    }

    .square {
        padding: 30px 20px;
    }

    .sponsor-row .sponsor-img:nth-of-type(2) {
        background-size: 60%;
    }

    #volunteer {
        height: 500px;
    }
}

@media (max-width: 390px){
    .cover-info {
        width: 100%;
    }

    .cover-logo {
        width: 200px;
    }

    .item-calendar {
        padding-right: 0px!important;
    }

    #calendar .container {
        padding: 15px 0px!important;
    }

    #calendar .container .row, #format .container .row {
        margin-right: 0px!important;
    }

    .format-item {
        background-size: 80% 90%;
    }

    #session-text {
        font-size: 19px;
        line-height: 22px;
    }

    .stories-item {
        background-size: 93% 100%!important;
    }

    #laliga {
        background-size: 96% 100%!important;
    }

    .item-location {
        height: 670px;
    }

    .contacto-title {
        font-size: 48px;
        margin-bottom: 20px;
    }
}

@media (max-width: 350px) {
    .item-location {
        height: 590px;
    }

    .sponsors-txt .title-format {
        font-size: 35px;
    }

    #gallery-section .title-format {
        font-size: 50px;
    }
}